/* similarHeroes.scss */
.similar-heroes {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #f0e68c;

    h3 {
        text-align: center;
        margin: 8px;
        color: #2a3564;
    }
}

.heroes-list-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.pagination-button {
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #2a3564;
    background: transparent;
}

.pagination-button:disabled {
    cursor: not-allowed;
    opacity: 0;
}

.heroes-list {
    height: 215px;
    display: flex;
    overflow-x: auto;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: center;
    overflow-y: hidden; /* Прибираємо можливість вертикальної прокрутки */
}

.hero-preview {
    margin: 0 10px;
    text-align: center;
    width: 150px; /* Фіксована ширина для профіля */
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease; /* Плавна анімація */
}

.hero-preview img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.hero-preview {
    transition: transform 3s ease;
}

.hero-preview:hover {
    transform: scale(1.2); /* Масштабування при наведенні */
    z-index: 2; /* Підвищення z-index при наведенні */
}

.hero-preview p {
    margin-top: 10px;
    position: relative;
    z-index: 1;
    color: #2a3564;
}

/* Адаптивні стилі для мобільних екранів */
@media (max-width: 768px) {
    .hero-preview {
        width: 120px; /* Менша ширина для мобільних екранів */
        height: 180px;
    }

    .hero-preview img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 480px) {
    .hero-preview {
        width: 100px; /* Ще менша ширина для дуже маленьких екранів */
        height: 160px;
    }

    .hero-preview img {
        width: 70px;
        height: 70px;
    }

    .pagination-button {
        font-size: 1.5rem; /* Зменшення розміру кнопок пагінації */
    }
}
