.details {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    padding: 20px;
    background-size: cover;
    color: white;
    // font-family: Arial, sans-serif;
}

.details-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    z-index: 10;
}

.hero-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    flex: 1;
    
    & img {
    width: 260px;
    object-fit: cover;
    }
    
    & p {
    margin: 5px 0;
    text-align: center;
    color: #bfc3d5;
    }

    & h2 {
        margin: 20px auto 0;
        line-height: 25px;
    }
}

.hero-description {
    flex: 2;
    background: rgb(255, 255, 255, 0.44);
    padding: 20px;
    border-radius: 10px;
    color: #1c1d26;
    margin-bottom: 20px;
    min-height: 382px;
}

.hero-description p {
    margin: 10px 0;
    line-height: 1.25rem;
}

.comment-form {
    width: 100%;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.6);
    margin: auto;
    padding: 20px;
    padding-top: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
    z-index: 11;

}

.comment-form h3 {
    margin-bottom: 10px;
    text-align: center;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}

.comment-form button {
    display: block;
    width: 50%;
    min-width: 100px;
    padding: 10px;
    background: #FFD700;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    text-transform: uppercase;
    &:hover {
        background-color: #FFA500;
    }

}

.comment-form button:hover {
    background: #e2b511;
}

.comments {
    width: 100%;
    max-width: 600px;
    z-index: 12;
    margin: auto;
}

.comment {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment p {
    margin: 5px 0;
}

.return-btn {
    display: block;
    max-width: 152px;
    padding: 10px;
    background: #FFD700;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    // margin-top: 10px;
    margin-bottom: 48px;
    text-transform: uppercase;

    &:hover {
       background: #e2b511;
    }
}