.heroes-container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    padding: 2rem 0;
    text-align: center;
    color: #FFF;
    overflow: hidden;
    z-index: 100;
    background: linear-gradient(to bottom, #2a3563, #2640b4, #F0E68C);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
        padding: 1.5rem;
    }
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: repeat;
    background: transparent url('http://www.script-tutorials.com/demos/360/images/stars.png') repeat top center;
    z-index: 0;
    animation: move-twink-back 500s linear infinite;
}


@keyframes move-twink-back {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px;}
}

@-webkit-keyframes move-twink-back {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px;}
}

@-moz-keyframes move-twink-back {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px;}
}

@-ms-keyframes move-twink-back {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px;}
}

.title {
    // max-width: 1000px;
    // height: 50px;
    // line-height: 50px;
    margin: 0 auto 20px;
    font-family: "Alice", serif;
    // font-size: 2rem;
    letter-spacing: 1px;
    z-index: 2;
    // border-radius: 50px;

    @media screen and (max-width: 768px) and (min-width: 341px) {
        margin: 0;
        overflow: auto;
        font-size: 1.2rem;
    }

    @media screen and (max-width: 340px) {
        font-size: 18px;
    }
}

.search-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
    z-index: 3;


    option {
        font-family: 'Silpo';
    }

    input, select {
        background-color: #2a3563b3;
        width: 200px;
        border-radius: 20px;
        color: #FFF;
        text-align: center;
        font-family: "Silpo"
    }

    input, select {
        margin: 0 0.5rem;
        padding: 0.5rem;
        font-size: 1rem;
    }

    
    @media screen and (max-width: 768px) {
        margin: 16px auto 20px;

        & input {
            font-size: 16px;
        }
    }
}

.heroes-gallery {
    display: grid;
    max-width: 70%;
    margin: auto;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;


    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        max-width: 80%;

    //    & img {
    //         height: 500px;
    //     }
    }

    @media screen and (max-width: 1100px) and (min-width: 769px) {
        max-width: 90%;
    }
}

.hero-profile {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    z-index: 4;


& img {
    width: 100%;
}

    .hero-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 8px;
        background-color: #2a3563b3;
        height: 100%;

        h2, p {
            margin: 0;
            text-align: center;
        }

        p {
            line-height: 20px;
            flex-grow: 1;
        }

        button {
            margin-top: 10px;
        }

        h2 {
            font-size: 22px;
            margin: 0.5rem 0;
            text-transform: uppercase;
            color: #f0e735;
        }

        p {
            font-size: 18px;
            margin: 4px 0;

            @media screen and (max-width: 768px) {
                margin: 0;
            }
        }

        button {
            width: 90%;
            background-color: #fff;
            border: none;
            border-radius: 20px;
            padding: 0.5rem 1rem;
            cursor: pointer;
            text-transform: uppercase;

            &:hover {
                background-color: #FFA500;
                transition: background-color 1s ease;
            }

            @media screen and (max-width: 768px){
                margin: 16px auto;
                width: 60%;
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    z-index: 6;

    button {
        border: none;
        background-color: transparent;
        padding: 0.5rem 1rem;
        cursor: pointer;
        margin: 0 0.5rem;
        color: #2a3563;
        font-size: 2rem;


        &:hover {
            color: #db9826;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0;
        }
    }

    span {
        font-size: 1rem;
        color: #2a3563;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 1rem;
    }

    .search-panel {
        margin: 16px auto 0;

        input, select {
            // width: 100%;
            margin-bottom: 0.5rem;
        }
    }

    .heroes-gallery {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 18px;
    }

    // .hero-profile {
    //     img {
    //         max-width: 100%;
    //     }
    // }
}

.search-box {
    position: relative;
    min-width: 230px;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown li {
    padding: 8px;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #ddd;
}

.no-heroes-message {
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: for better visibility */
    width: 50%;
    margin: 20px auto; /* Центрування по горизонталі */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px; /* Optional: to ensure it has some height */
}
