.footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #2a3563;
    color: white;
    text-align: center;

    p {
        color: white;
        text-transform: uppercase;
        line-height: 24px;
        margin: 10px 0; /* Доданий відступ для покращення читабельності */
    }

    button {
        padding: 16px;
        margin: 20px auto;
        border: 1px solid white;
        border-radius: 20px;
        background: none;
        color: white;
        font-size: 18px;
        letter-spacing: 3px;
        text-transform: uppercase;
        
        &:hover {
            cursor: pointer;
            background-color: #FFA500;
            transition: background-color 0.5s ease;
        }
    }

    @media (max-width: 768px) {
        padding: 15px;

        p {
            font-size: 14px; /* Зменшено розмір тексту для менших екранів */
            line-height: 20px;
        }

        button {
            font-size: 16px; /* Зменшено розмір тексту кнопки для менших екранів */
            padding: 12px; /* Зменшено відступи кнопки для менших екранів */
        }
    }

    @media (max-width: 480px) {
        p {
            font-size: 12px; /* Ще більше зменшено розмір тексту для найменших екранів */
            line-height: 18px;
        }

        button {
            font-size: 14px; /* Зменшено розмір тексту кнопки для найменших екранів */
            padding: 10px; /* Зменшено відступи кнопки для найменших екранів */
        }
    }
}
